.btn {
    border: solid;
    border-width: 1px;
    border-color: #B0B0B0;
    padding: 20px;
    width: 100%;
}
.btn:hover {
    transform: scale(1.05);
}

#place {
    color: #bdc1c4;
    position: absolute;
    right: 0;
}

#opcionesDesplegadas li {
    background-color: #f0f0f0;
    /* Cambia este color al que desees */
    border: 1px solid #ccc;
    /* Agrega un borde para separar visualmente */
    padding: 10px;
    /* Agrega espaciado interno para que se destaque */
}

#opcionesDesplegadas {
    background-color: white;
}

.nav-item:hover {
    transform: scale(1.01); ;
}

#contenidoDesplegable {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    /* Estilo de fondo opcional */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Estilo de sombra opcional */
    z-index: 1;
    /* Coloca el contenido sobre otros elementos */
    left: 0;
    /* Alinea el contenido a la derecha */
    top: 100%;
    /* Coloca el contenido debajo del botón */
    width: 100%;
    /* Ancho mínimo del contenido */
    border: 1px solid #ddd;
    /* Estilo de borde opcional */
    border-radius: 4px;
    /* Estilo de borde redondeado opcional */
}

#contenidoDesplegable ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#contenidoDesplegable ul li {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-color: transparent;
    background-color: #6c757d;
    /* Borde inferior para separar las opciones */
}

#buscar {
    border-radius: 10px;
    margin-left: 5px;
}
.d-flex{
    background-color: #6c757d;
}
a {
    text-decoration: none;
}