h3 {
    text-align: center;
}
h5 {
    text-align: center;
}
.navbar-toggler-icon {
    align-items: flex-end;
}
.btn {
    border: solid;
    border-width: 1px;
    border-color: #B0B0B0;
    padding: 20px;
    width: 100%;
}
/* Estilo para el menú desplegable */
#menuDesplegable {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menuDesplegable li {
    padding: 5px;
}

#menuDesplegable li a {
    text-decoration: none;
    color: #333;
}
#menu:hover {
    display: block;
}